<p>Basic</p>
<div class="charts row">
    <div class="line col-5" [chart]="lineChartwithXaxis"></div>
    <div class="line col-5" [chart]="barChartwithXaxis"></div>
    <div class="line col-5" [chart]="pieChartwithXaxis"></div>
    <div class="line col-5" [chart]="columnChartwithXaxis"></div>
    <div class="line col-5" [chart]="scatChartwithXaxis"></div>
    <div class="line col-5" [chart]="areaChartwithXaxis"></div>
    <div class="line col-5" [chart]="areasplineChartwithXaxis"></div>
  </div>