<nav  class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active-link">home</a>
  <a class="nav-link" [routerLink]="['/chart1']" routerLinkActive="active-link">chart1</a>
  <a class="nav-link" [routerLink]="['/chart2']" routerLinkActive="active-link">chart2</a>
  <a class="nav-link" [routerLink]="['/chart3']" routerLinkActive="active-link">chart3</a>
  <a class="nav-link" [routerLink]="['/chart4']" routerLinkActive="active-link">chart4</a>
  <!-- <a class="nav-link" [routerLink]="['/chart5']" routerLinkActive="active-link">chart5</a> -->
</nav>
<router-outlet></router-outlet>
